{{define "head"}}
<style>
  body {
    justify-content: center;
  }

  section > header {
    margin-bottom: 24px;
  }

  #account_section p {
    margin-bottom: 0;
  }

  [role="group"] button {
    --pico-form-element-spacing-horizontal: 1rem;
  }
</style>
{{end}}

{{define "header"}}
<div class="flex flex-row flex-wrap items-center justify-between">
  <div>
    <h1>
      {{.Title}}
    </h1>
    <div>
      <p>{{.Description}}</p>
    </div>
  </div>
  <div>
    {{if .CanAuthAdmin}}
    <button
      class="secondary mb-0"
      style="font-size: 0.75rem; padding: 0.25em 0.75em;"
      type="button"
      hx-ext="htmx-modal"
      data-modal="#auth_modal"
      data-modal-on-open="onOpenAuthorize"
      hx-target="body"
      hx-post=""
      hx-headers='{"x-addon-configure-action":"{{if .HasAuthAdmin}}de{{end}}authorize"}'
      hx-trigger="confirmed"
      data-tooltip="Features Restricted to Admin"
    >
      {{if .HasAuthAdmin}}Deauthorize{{else}}Authorize{{end}}
    </button>
    {{end}}
  </div>
</div>

{{if .CanAuthAdmin}}
<dialog id="auth_modal">
  <article>
    <header>
      <button aria-label="Close" rel="prev" data-modal-close></button>
      <h3>
        <span>{{if .HasAuthAdmin}}Deauthorize{{else}}Authorize{{end}}</span>
      </h3>
    </header>
    <form>
      {{if not .HasAuthAdmin}}
      <label for="user">User *</label>
      <input type="text" name="user" required {{if ne .AuthAdminError ""}}aria-invalid="true"{{end}}>
      <label for="user">Password *</label>
      <input type="password" name="pass" required {{if ne .AuthAdminError ""}}aria-invalid="true"{{end}}>
      {{if ne .AuthAdminError ""}}
      <small>{{.AuthAdminError}}</small>
      {{end}}
      {{end}}
      <button type="submit">Go</button>
    </form>
  </article>
</dialog>

<script>
  {{if ne .AuthAdminError ""}}
  htmx.on("htmx:load", function(evt) {
    document.querySelector("[data-modal-on-open='onOpenAuthorize']").click();
  });
  {{end}}

  function onOpenAuthorize(e, { modal, onClose, trigger }) {
    modal.querySelector("form").addEventListener("submit", function(e) {
      e.preventDefault();
      {{if not .HasAuthAdmin}}
      trigger.setAttribute("hx-vals", JSON.stringify({
        user: modal.querySelector("[name='user']").value,
        pass: modal.querySelector("[name='pass']").value,
      }));
      {{end}}
      onClose();
      htmx.trigger(trigger, "confirmed");
    }, { once: true });
  }
</script>
{{end}}

{{end}}


{{define "main"}}
  <header>
    <center>
      <h6>
        ‼️⚠️‼️
        <br />
        This Can Break Your Stremio Account
        <br />
        <small>
          ⚠️ Use It At Your Own Risk ⚠️
        </small>
      </h6>
    </center>
  </header>

  {{template "sidekick_account_section.html" .}}

  {{if .IsAuthed}}
  <details open>
    <summary role="button" class="secondary">
      Addons
    </summary>
    {{template "sidekick_addons_section.html" .}}
  </details>

  <details>
    <summary role="button" class="secondary">
      Library
    </summary>
    {{template "sidekick_library_section.html" .}}
  </details>
  {{end}}
{{end}}

{{define "foot"}}
<script>
  htmx.on("htmx:beforeRequest", function(evt) {
    let button = null;
    if (evt.detail.elt.tagName === "BUTTON") {
      button = evt.detail.elt;
    } else if (evt.detail.elt.tagName === "FORM") {
      button = evt.detail.elt.querySelector("button[type='submit']");
    }
    if (button) {
      button.ariaBusy = true;
    }
  });
  htmx.on("htmx:afterRequest", function(evt) {
    let button = null;
    if (evt.detail.elt.tagName === "BUTTON") {
      button = evt.detail.elt;
    } else if (evt.detail.elt.tagName === "FORM") {
      button = evt.detail.elt.querySelector("button[type='submit']");
    }
    if (button) {
      button.ariaBusy = false;
    }
  });

  htmx.defineExtension("htmx-download", {
    onEvent: (name, evt) => {
      if (name == "htmx:beforeSwap") {
        const status = evt.detail.xhr.status;
        if (status == 200) {
          const data = evt.detail.xhr.response;

          const heqdersBlob = evt.detail.xhr.getAllResponseHeaders();
          const headerLines = heqdersBlob.trim().split(/[\r\n]+/);
          const headers = {}
          for (const line of headerLines) {
            const [key, ...parts] = line.split(": ");
            headers[key] = parts.join(": ");
          }

          const filename = headers["content-disposition"]?.split("=")[1].replace(/^"/, "").replace(/"$/, "");
          const mimetype = headers["content-type"];
          if (!filename || !mimetype) {
            return;
          }

          const blob = new Blob([data], { type: mimetype });

          const a = document.createElement("a");
          a.download = filename;
          a.href = URL.createObjectURL(blob);
          a.target = "_blank";
          a.style.display = "none";

          document.body.appendChild(a);
          a.click();
          setTimeout(() => {
            a.parentNode.removeChild(a);
          }, 100);
        }
      }
      return true;
    },
  })
</script>
{{end}}

{{template "layout.html" .}}
